footer.main-footer
	.container
		.main-footer__copyright
			span.main-footer__company
				| &copy; 2012–2016 ЗАО «Компания» 
			address.main-footer__address
				a(href="mailto:info@name.ru").main-footer__address-link info@name.ru
		
		+footer-nav('main-footer-nav', ['Главная', 'Каталог', 'Доставка и оплата', 'Прайс-лист', 'Контакты'])
		
		.main-footer__author
			a(href="#").main-footer__author-link Разработка сайта 
			i — 
			p компания «Шнайдер Консалт»
