header.main-header
	.container
		strong.logo
			a(href="#").logo__link
				img(src="img/logo.png", width="318", height="100", alt="logo").logo__image
			span.logo__text
				| Название компании
		.sale
			span.sale__time
				| Распродажа до 
			span.sale__next-monday
		.phones
			.phones__numbers
				span.phones__number +7 (343) 252-52-52 
				span.phones__number +7 (343) 252-52-52

	