.main-slider
	.swiper-container
		.swiper-wrapper 
			.swiper-slide
				img(src="img/slider.jpg", width="1399", height="400" alt="slide-1").swiper-img  
			.swiper-slide
				img(src="img/slider-3.jpg", width="716", height="399" alt="slide-2").swiper-img  